*.mti
*.bak
*.qsf
*.mpf
*.qws
*.wlf
work
simulation
incremental_db
db
# ignore compilation output of ModelSim
*.mti
*.dat
*.dbs
*.psm
*.bak
*.cmp
*.jpg
*.html
*.bsf
*.bak
wlf*.*
*.inc
*.qsf
*.wlf
# ignore simulation output of ModelSim
wlf*
*.wlf
*.vstf
*.ucdb
cov*/
transcript*
sc_dpiheader.h
vsim.dbg